/*START - CONTACT FORM*/

.yoga-query-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.yoga-query-form label {
  display: block;
  margin-top: 10px;
  color: var(--text-color);
  font-family: var(--font-primary);
}

.yoga-query-form input, 
.yoga-query-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  box-sizing: border-box;
  font-family: var(--font-primary);
  color: var(--background-color);
  background-color: #fff;
}

.yoga-query-form input:focus, 
.yoga-query-form textarea:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0 0 4px rgba(42, 157, 143, 0.5);
}

.yoga-query-form button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-primary);
  transition: background-color 0.3s ease;
}

.yoga-query-form button:hover {
  background-color: var(--secondary-color);
}

/*END - CONTACT FORM*/